body,
ul,
li,
a,
label,
input,
div {
  font-family: "맑은 고딕", sans-serif;
  font-size: 17px !important;
  font-weight: 300 !important;
}
.h1 {
  font-family: "맑은 고딕", sans-serif;
  font-size: 43px !important;
  font-weight: 200 !important;
}
.h2 {
  font-family: "맑은 고딕", sans-serif;
  font-size: 25px !important;
  font-weight: 300;
}
.h3 {
  font-family: "맑은 고딕", sans-serif;
  font-size: 20px !important;
}
.h4 {
  font-family: "맑은 고딕", sans-serif;
  font-size: 18px !important;
}

a {
  text-decoration: none;
  /* color: #464646; */
}

.blackLink {
  color: #464646;
}

.whiteLink {
  color: #f3f3f3;
}

.blackLink:hover, .whiteLink:hover {
  color: #69b37c;
}

input {
  outline: none;
  border: 1px solid darkgray;
  padding-left: 5px;
}

.swal2-popup {
  background-color:#eeeeee;
  font-size: 9px !important;
  color:#5a5a5a;
  width: 380px;
  padding: 20px;
  border-radius:10px;
  box-shadow:7px 7px 12px gray;
}

.services-icon-wap {
  transition: 0.3s;
}
.services-icon-wap:hover,
.services-icon-wap:hover i {
  color: #fff;
}
.services-icon-wap:hover {
  background: #69bb7e;
}

.product-wap:hover .product-overlay {
  visibility: visible;
  opacity: 1;
}

.product-wap .product-overlay {
  background: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

#product_pic {
  border-style: solid;
  border-width: 5px;
  border-color: aliceblue;
}
